<!DOCTYPE html>
<html>
  <head>
    <title>Results!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' type='all'>
  </head>

  <body>
    <h3 class='text-center'>Your sentence had the given word <br><br><font color='red'><%= @result %></font><br><br> times in it! Woo hoo!</h3>
  </body>
</html>
